@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: #fafafa;
}
.pagelayout {
	min-height: calc(100vh - 6rem);
}
.fullpageimg {
	background-image: url("../../public/images/mainXL.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: end;
}
.fullpageimgContainer {
	width: 100%;
	height: calc(100vh - 4rem);
}
.Mainbutton {
	background-color: #203f88;
	color: #f9fafb;
	border: 2px solid #f9fafb;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	font-weight: 600;
	transition: all 0.2s ease-in-out;
}
.Mainbutton:hover {
	background-color: #f9fafb;
	color: #203f88;
}
.footer {
	width: 100%;
	background-color: #000000;
	color: #f9fafb;
	height: 96px;
	text-align: center;
}
.oneProduct {
	scroll-snap-align: start;
}
.productCarousel {
	margin: 2rem 0;
	scroll-snap-type: x mandatory;
}
.productCarousel::-webkit-scrollbar {
	width: 5px;
	height: 15px;
}

.productCarousel::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	background: #f1f1f183;
	border-radius: 1rem;
}

.productCarousel::-webkit-scrollbar-thumb {
	background: #c6c5c5;
	border-radius: 1rem;
}

.productCarousel::-webkit-scrollbar-thumb:hover {
	background: #9f9f9f;
}

.cartScroll::-webkit-scrollbar {
	width: 15px;
	height: 20px;
}

.cartScroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	background: #f1f1f183;
	border-radius: 1rem;
}

.cartScroll::-webkit-scrollbar-thumb {
	background: #c6c5c5;
	border-radius: 1rem;
}

.cartScroll::-webkit-scrollbar-thumb:hover {
	background: #9f9f9f;
}
@media screen and (max-width: 768px) {
	.fullpageimg {
		background-image: url("../../public/images/mainsmall.png");
	}

	.fullpageimgtext {
		background-color: #050407;
		left: 0;
		top: 27vh;
		width: 100%;
		text-align: center;
	}
	.CartContainer {
		transform: scale(0.8);
		right: -20vw;
		top: 0;
	}
	.checkoutList {
		margin: 0;
	}
}
